header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 18px 34px;
  position: relative;
}

header h2 {
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

header nav ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

header nav ul li:hover {
  background-color: #3373ce27;
}

header nav ul li img {
  height: 17px;
  width: 17px;
}

header nav ul li span {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header button {
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 18px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.contenedor-registrarme {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal.abrir-modal {
  transform: translateY(48px);
}

.modal {
  position: absolute;
  z-index: 20;
  transform: translateY(-150%);
  right: 40px;
  border: 1px solid var(--secondary-color);
  background-color: #fff;
  transition: transform 0.5s ease-out;
  padding: 18px 22px;
  max-width: 384px;
  width: 100%;
  border-radius: 4px;
}

.modal h3 {
  margin: 0 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal h3 .cerrar-modal {
  font-size: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3;
}

.modal h3 .cerrar-modal:hover {
  color: var(--error);
}

.modal .contenedor-input-registrarme {
  margin-bottom: 20px;
}

.modal .btn-registrarme {
  padding: 10px 12px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  justify-content: center;
}

.tiene-cuenta {
  text-align: center;
  margin-top: 25px;
}

.tiene-cuenta span {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal .contenedor-input-registrarme .input-error {
  border-color: var(--error);
}
