.home-layout {
  background-color: #dfdfdf;
  overflow-x: hidden;
}

.contenedor-info-becas {
  position: relative;
  margin: 0 100px;
  top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background-color: #ffffff81;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 28px 100px;
}

.info-becas {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-becas h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.info-becas h2 .icon-info-becas {
  border: 1px solid var(--primary-color);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-becas h2 .icon-info-becas img {
  height: 20px;
  width: 20px;
}

.info-becas p {
  margin: 0;
  font-size: 18px;
}

h2 {
  text-align: center;
  margin: 50px 0 30px 0;
}

.contenedor-universidades {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 100px 20px 100px;
  animation: carrusel 20s linear infinite;
}

.contenedor-universidades:has(img:hover) {
  animation-play-state: paused;
}

@keyframes carrusel {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

.contenedor-universidades img {
  height: 100px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.contenedor-universidades img:hover {
  filter: grayscale(0%);
}
