.hero {
  position: relative;
  width: 100%;
}

.hero-contenido {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 5px 0 25px 90px;
}

.contenido-izquierda {
  min-width: 525px;
}

.contenido-derecha {
  max-width: 920px;
  width: 100%;
  height: 500px;
  position: absolute;
  right: 0;
  z-index: -10;
}

.contenido-derecha img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 1;
}

.hero-contenido h1 {
  font-size: 4.38rem;
  margin: 15px 0 8px 0;
}

.hero-contenido h1 span {
  background: linear-gradient(
    90deg,
    #a31a1c 0%,
    #c92b35 20%,
    #7d1f93 48%,
    #a64ab5 72%,
    #9742ac 100%
  );
  background-size: 220% 100%;
  color: transparent;
  background-clip: text;
  border-radius: 5px;
  animation: cambiarColor 3s ease-in-out infinite;
}

@keyframes cambiarColor {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.hero-contenido p {
  margin: 0;
  font-size: 1.38rem;
  width: 100%;
  max-width: 550px;
  line-height: 1.35;
}

.hero-buscador {
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-buscador div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-buscador h2 {
  margin: 0 0 12px 0;
}

.hero-buscador select {
  padding: 10px 12px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  color: #000;
}

.hero-buscador .contenedor-input {
  flex: 1;
  min-width: 0;
}

.hero-buscador .buscador-input {
  padding: 16px 6px;
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  transition: border-color 0.4s;
}

.hero-buscador .buscador-input:focus {
  border-color: var(--color-terciario);
}

.hero-buscador label {
  font-size: 1.38rem !important;
}

.hero-buscador span {
  text-shadow: 0 0 40px #eee;
}

.buscador-boton {
  background-color: var(--color-primario);
  color: white;
  font-size: 1.13rem;
  padding: 14px 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.typing-cursor {
  display: inline-block;
  height: 0.9em;
  margin-left: 4px;
  border-right: 3px solid currentColor;
  vertical-align: -0.05em;
  animation: parpadeo 0.7s steps(1) infinite;
}

@keyframes parpadeo {
  50% {
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .hero-contenido h1 {
    margin: 15px 0 20px 0;
  }

  .hero-contenido p {
    line-height: 1.45;
  }

  .hero-buscador {
    margin-top: 60px;
  }
}
