.hero {
  position: relative;
  width: 100%;
}

.hero-contenido {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  padding: 5px 0 25px 90px;
}

.contenido-izquierda {
  min-width: 525px;
}

.contenido-derecha {
  width: 100%;
}

.contenido-derecha img {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 5%,
    black 40%,
    black 100%
  );
}

.hero-contenido h1 {
  font-size: 70px;
  margin: 15px 0 8px 0;
}

.hero-contenido h1 span {
  color: var(--color-primario);
}

.hero-contenido p {
  margin: 0;
  font-size: 22px;
  width: 100%;
  max-width: 550px;
  line-height: 1.35;
}

.hero-buscador {
  max-width: 550px;
  width: 100%;
  color: #fff;
  background-color: var(--color-secundario);
  border-radius: 8px;
  padding: 20px 30px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-buscador .buscador-input {
  padding: 16px 6px;
  margin-top: 10px;
  padding-right: 125px;
}

.hero-buscador label {
  font-size: 22px !important;
}

.hero-buscador span {
  text-shadow: 0 0 40px #eee;
}

.buscador-boton {
  background-color: var(--color-primario);
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 110px;
  position: absolute;
  right: 35px;
  position: absolute;
  top: 67px;
  cursor: pointer;
}
