:root {
  --primary-color: #2563eb;
  --primary-light: #4f8dfd;

  --background: #f8fafc;

  --surface: #ffffff;

  --text-primary: #19283f;
  --text-secondary: #64748b;

  --hover: #144cc4;

  --success: #22c55e;
  --danger: #d63737;
  --danger-hover: #c42a2a;
  --border: #cad1db;

  --sidebar-bg: #1e3a8a;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
}

h2 {
  font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
