:root {
  --color-primario: #a31a1c;
  --color-secundario: #1250a8;
  --color-terciario: #7f44a0;

  --error: #ff3b4f;
}

* {
  font-family: AdobeClean;
  box-sizing: border-box;
}

body {
  margin: 0;
}
