:root {
  --primary-color: #2563eb;
  --primary-light: #4F8DFD;
  --background: #F8FAFC;
  --surface: #FFFFFF;
  --text-primary: #19283f;
  --text-secondary: #64748b;
  --hover: #144cc4;
  --successs: #22C55E;
  --danger: #EF4444;
  --border: #cad1db;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--text-primary);
}

h2 {
  font-size: 2rem;
  margin: 0 0 5px 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}